*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color-1: hsl(158, 36%, 37%);
	--primary-color-2: hsl(30, 38%, 92%);

	--neutral-color-1: hsl(212, 21%, 14%);
	--neutral-color-2: hsl(228, 12%, 48%);
	--neutral-color-3: hsl(0, 0%, 100%);
}

@font-face {
	font-family: fraunces-regular;
	src: url("./fonts/static/Fraunces_144pt_Soft-Bold.ttf");
}

@font-face {
	font-family: montserrat-medium;
	src: url("./fonts/static/Montserrat-Medium.ttf");
}

@font-face {
	font-family: montserrat-bold;
	src: url("./fonts/static/Montserrat-Bold.ttf");
}

@font-face {
	font-family: fraunces-72pt-soft-bold;
	src: url("./fonts/static/Fraunces_72pt_Soft-Bold.ttf");
}

body {
	background-color: var(--primary-color-2);
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-size: 0.9rem;
}

.product-card {
	display: flex;
	width: 37.5rem;
	height: 28.125rem;
	background-color: var(--neutral-color-3);
	border-radius: 0.625rem;
}

.product-image {
	img {
		width: 18.75rem;
		height: 28.125rem;
		border-top-left-radius: 0.625rem;
		border-bottom-left-radius: 0.625rem;
	}
}

.product-details {
	display: grid;
	padding: 1.75rem;
}

.product-type {
	font-family: montserrat-medium;
	color: var(--neutral-color-2);
	letter-spacing: 0.313rem;
}

.product-name-description {
	display: grid;
	h1 {
		font-family: fraunces-regular;
		font-size: xx-large;
		color: var(--neutral-color-1);
		width: 12.125rem;
	}

	p {
		font-family: montserrat-medium;
		color: var(--neutral-color-2);
	}
}

.product-price {
	display: flex;
	align-items: center;
	padding: 0rem 0rem 0.625rem 0rem;

	h1 {
		font-family: fraunces-72pt-soft-bold;
		font-size: xx-large;
		color: var(--primary-color-1);
	}

	p {
		font-family: montserrat-medium;
		color: var(--neutral-color-2);
		text-decoration: line-through;
		line-height: 1.5;
		padding: 0rem 1.125rem;
	}
}

.cart-button {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--primary-color-1);
	align-items: center;
	width: 14.375rem;
	height: 3.125rem;
	font-family: montserrat-bold;
	color: var(--neutral-color-3);
	border: none;
	border-radius: 0.625rem;
	padding: 0rem 2.5rem;
}

@media screen and (max-width: 768px) {
	.product-card {
		display: grid;
		width: 21.875rem;
		height: 38.313rem;
	}

	.product-image {
		img {
			width: 100%;
			height: 240px;
			border-top-left-radius: 0.625rem;
			border-top-right-radius: 0.625rem;
			border-bottom-left-radius: initial;
		}
	}

	.product-name-description {
		width: 292px;
	}

	.product-details {
		h1 {
			width: initial;
		}
		padding: 0rem 1.75rem 1.75rem;
	}

	.product-price {
		justify-content: initial;

		p {
			padding-left: 1.25rem;
		}
	}

	.cart-button {
		width: 18.125rem;
		padding: 0rem 5rem;
	}
}
